// Colores principales
$primary-green: #85A98F;
$light-green: #D3F1DF;
$dark-green: #5A6C57;
$error-red: #E74C3C;
$warning-yellow: #F1C40F;

// Variables de espaciado
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;

// Variables de bordes
$border-radius-sm: 10px;
$border-radius-md: 20px;
$border-radius-lg: 30px;

// Variables de sombras
$box-shadow-default: 0 0 20px rgba(0,0,0,0.1);

// Variables de tipografía
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;